.elementor-593 .elementor-element.elementor-element-1c89309f:not(.elementor-motion-effects-element-type-background),
.elementor-593 .elementor-element.elementor-element-1c89309f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FAFFCF;
}

.elementor-593 .elementor-element.elementor-element-1c89309f>.elementor-container {
    max-width: 1200px;
}

.elementor-593 .elementor-element.elementor-element-1c89309f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 3% 4% 4% 4%;
}

.elementor-593 .elementor-element.elementor-element-1c89309f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-593 .elementor-element.elementor-element-1c89309f>.elementor-shape-top svg {
    width: calc(100% + 1.3px);
    height: 10px;
}

.elementor-593 .elementor-element.elementor-element-666d6119>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-593 .elementor-element.elementor-element-5c6d6938 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + -5px) 0px;
    text-align: center;
}

.elementor-593 .elementor-element.elementor-element-5c6d6938 .elementor-heading-title {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #DE3232;
}

.elementor-593 .elementor-element.elementor-element-67d3a549 {
    margin: -10px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    text-align: center;
}

.elementor-593 .elementor-element.elementor-element-67d3a549 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2em;
    color: #06163A;
}

.elementor-593 .elementor-element.elementor-element-c7b2a83>.elementor-container {
    max-width: 1000px;
}

.elementor-593 .elementor-element.elementor-element-c7b2a83 {
    margin-top: -2%;
    margin-bottom: -3%;
}

.elementor-593 .elementor-element.elementor-element-76adb079 .sina-brand-item-inner a {
    padding: 5% 5% 5% 5%;
}

.elementor-593 .elementor-element.elementor-element-76adb079 .sina-brand-item {
    padding: 15px 15px 15px 15px;
}

.elementor-593 .elementor-element.elementor-element-76adb079 .sina-brand-item-inner {
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #F88D8D;
}

.elementor-593 .elementor-element.elementor-element-76adb079 .sina-brand-item-inner:hover {
    border-color: #1085e4;
}

.elementor-593 .elementor-element.elementor-element-72391e70:not(.elementor-motion-effects-element-type-background),
.elementor-593 .elementor-element.elementor-element-72391e70>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #282828;
}

.elementor-593 .elementor-element.elementor-element-72391e70 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 55px 0px 55px 0px;
    z-index: 1;
}

.elementor-593 .elementor-element.elementor-element-72391e70>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-593 .elementor-element.elementor-element-62b78c75 {
    width: var( --container-widget-width, 86.215%);
    max-width: 86.215%;
    margin: 0% 0% calc(var(--kit-widget-spacing, 0px) + 4%) 0%;
    --container-widget-width: 86.215%;
    --container-widget-flex-grow: 0;
}

.elementor-593 .elementor-element.elementor-element-62b78c75.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-593 .elementor-element.elementor-element-23f6ec34 {
    font-family: "Rubik", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-3e2a9df8 {
    text-align: start;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #979797;
}

.elementor-593 .elementor-element.elementor-element-7a911e3d .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #FFFFFF;
}

.elementor-593 .elementor-element.elementor-element-19cf1a52 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-2c872649 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-33f8c025 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-1d82689a .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-36f3dcba .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-7b66b117 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #FFFFFF;
}

.elementor-593 .elementor-element.elementor-element-2896a9b1 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-38f36f62 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-2f97b8ab .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-4465ab27 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-60156344 .elementor-heading-title {
    font-family: "Raleway", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #D6D6D6;
}

.elementor-593 .elementor-element.elementor-element-477734f3 .elementor-heading-title {
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #FFFFFF;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-form {
    background-color: #7A7A7A00;
    border-color: #8A8A8A;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 3px 3px 3px 3px;
    border-radius: 6px 6px 6px 6px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-subscribe-btn {
    background-color: #FD8127;
    color: #ffffff;
    border-color: #E6E2E2;
    transition-duration: 0.1s;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    border-style: none;
    border-radius: 6px 6px 6px 6px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-header {
    text-align: center;
    margin-bottom: 30px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-header i {
    color: #605BE5;
    font-size: 28px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-header svg {
    fill: #605BE5;
    width: 28px;
    height: 28px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-header h3 {
    color: #424242;
    margin-bottom: 10px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-header p {
    color: #606060;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-fields label {
    color: #818181;
    margin-bottom: 4px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-fields input {
    color: #D6D6D6;
    background-color: #FFFFFF00;
    border-color: #e8e8e8;
    transition-duration: 0.1s;
    font-family: "Poppins", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    border-style: none;
    padding: 0px 15px 0px 15px;
    border-radius: 20px 0px 0px 20px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-fields input::placeholder {
    color: #ADADAD;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-fields input:focus {
    color: #DFDFDF;
    background-color: #FFFFFF00;
    border-color: #e8e8e8;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-fields input:focus::placeholder {
    color: #FFFFFF;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5.wpr-mailchimp-layout-vr .wpr-mailchimp-email,
.elementor-593 .elementor-element.elementor-element-6264e0a5.wpr-mailchimp-layout-vr .wpr-mailchimp-first-name,
.elementor-593 .elementor-element.elementor-element-6264e0a5.wpr-mailchimp-layout-vr .wpr-mailchimp-last-name,
.elementor-593 .elementor-element.elementor-element-6264e0a5.wpr-mailchimp-layout-vr .wpr-mailchimp-phone-number {
    margin-bottom: 0px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5.wpr-mailchimp-layout-hr .wpr-mailchimp-email,
.elementor-593 .elementor-element.elementor-element-6264e0a5.wpr-mailchimp-layout-hr .wpr-mailchimp-first-name,
.elementor-593 .elementor-element.elementor-element-6264e0a5.wpr-mailchimp-layout-hr .wpr-mailchimp-last-name,
.elementor-593 .elementor-element.elementor-element-6264e0a5.wpr-mailchimp-layout-hr .wpr-mailchimp-phone-number {
    margin-right: 0px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-subscribe-btn:hover {
    color: #FFFFFF;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-subscribe {
    width: 145px;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-success-message {
    color: #333333;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-error-message {
    color: #FF3466;
}

.elementor-593 .elementor-element.elementor-element-6264e0a5 .wpr-mailchimp-message {
    background-color: #FFFFFF00;
    font-family: "Poppins", Sans-serif;
    font-size: 11px;
    font-weight: 400;
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
}

.elementor-593 .elementor-element.elementor-element-588acccf {
    margin: -8px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-593 .elementor-element.elementor-element-588acccf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(9px/2);
}

.elementor-593 .elementor-element.elementor-element-588acccf .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(9px/2);
}

.elementor-593 .elementor-element.elementor-element-588acccf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(9px/2);
}

.elementor-593 .elementor-element.elementor-element-588acccf .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-9px/2);
}

.elementor-593 .elementor-element.elementor-element-588acccf .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-9px/2);
}

.elementor-593 .elementor-element.elementor-element-588acccf .elementor-icon-list-icon i {
    color: #FD8127;
    transition: color 0.3s;
}

.elementor-593 .elementor-element.elementor-element-588acccf .elementor-icon-list-icon svg {
    fill: #FD8127;
    transition: fill 0.3s;
}

.elementor-593 .elementor-element.elementor-element-588acccf .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-593 .elementor-element.elementor-element-588acccf .elementor-icon-list-item>a {
    font-family: "Rubik", Sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.elementor-593 .elementor-element.elementor-element-588acccf .elementor-icon-list-text {
    color: #D6D6D6;
    transition: color 0.3s;
}

.elementor-593 .elementor-element.elementor-element-64a706a9 {
    margin-top: -1px;
    margin-bottom: 0px;
}

.elementor-593 .elementor-element.elementor-element-69bf59f3.wpr-stt-btn-align-fixed-right .wpr-stt-btn {
    right: 17px;
    bottom: 36px;
}

.elementor-593 .elementor-element.elementor-element-69bf59f3 .wpr-stt-content {
    color: #FFFFFF;
}

.elementor-593 .elementor-element.elementor-element-69bf59f3 .wpr-stt-icon {
    color: #FFFFFF;
    font-size: 13px;
}

.elementor-593 .elementor-element.elementor-element-69bf59f3 .wpr-stt-icon svg {
    fill: #FFFFFF;
    width: 13px;
    height: 13px;
}

.elementor-593 .elementor-element.elementor-element-69bf59f3 .wpr-stt-btn {
    background-color: #FD8127;
    border-color: #E8E8E8;
    box-shadow: 0px 0px 10px 0px rgba(207, 207, 207, 0.5);
    transition: all 0.3s ease-in-out 0s;
    padding: 14px 15px 14px 15px;
    border-style: none;
    border-radius: 40px 40px 40px 40px;
}

.elementor-593 .elementor-element.elementor-element-69bf59f3 .wpr-stt-btn:hover>.wpr-stt-icon {
    Color: #FFFFFF;
}

.elementor-593 .elementor-element.elementor-element-69bf59f3 .wpr-stt-btn:hover>.wpr-stt-icon svg {
    fill: #FFFFFF;
}

.elementor-593 .elementor-element.elementor-element-69bf59f3 .wpr-stt-btn:hover {
    background-color: #FD8127;
    border-color: #E8E8E8;
}

.elementor-593 .elementor-element.elementor-element-69bf59f3 .wpr-stt-btn svg {
    transition: all 0.3s ease-in-out 0s;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(min-width:768px) {
    .elementor-593 .elementor-element.elementor-element-78b87b5e {
        width: 27.632%;
    }
    .elementor-593 .elementor-element.elementor-element-3473b94d {
        width: 23.64%;
    }
    .elementor-593 .elementor-element.elementor-element-8fc0b77 {
        width: 20.966%;
    }
    .elementor-593 .elementor-element.elementor-element-32085a39 {
        width: 27.719%;
    }
}

@media(max-width:1024px) {
    .elementor-593 .elementor-element.elementor-element-1c89309f {
        padding: 80px 0px 80px 0px;
    }
    .elementor-593 .elementor-element.elementor-element-5c6d6938 .elementor-heading-title {
        font-size: 17px;
    }
    .elementor-593 .elementor-element.elementor-element-67d3a549 .elementor-heading-title {
        font-size: 50px;
    }
    .elementor-593 .elementor-element.elementor-element-76adb079 .sina-brand-item-inner a {
        padding: 15% 35% 15% 35%;
    }
    .elementor-593 .elementor-element.elementor-element-3e2a9df8 {
        margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
        font-size: 13px;
    }
}

@media(max-width:767px) {
    .elementor-593 .elementor-element.elementor-element-1c89309f {
        padding: 7% 0% 5% 0%;
    }
    .elementor-593 .elementor-element.elementor-element-5c6d6938 {
        margin: 0% 4% calc(var(--kit-widget-spacing, 0px) + 0%) 4%;
    }
    .elementor-593 .elementor-element.elementor-element-5c6d6938 .elementor-heading-title {
        font-size: 11px;
    }
    .elementor-593 .elementor-element.elementor-element-67d3a549 {
        padding: 0px 40px 0px 40px;
    }
    .elementor-593 .elementor-element.elementor-element-67d3a549 .elementor-heading-title {
        font-size: 23px;
    }
    .elementor-593 .elementor-element.elementor-element-76adb079 .sina-brand-item-inner a {
        padding: 5% 5% 5% 5%;
    }
    .elementor-593 .elementor-element.elementor-element-76adb079 .sina-brand-item {
        padding: 15px 11px 15px 15px;
    }
    .elementor-593 .elementor-element.elementor-element-72391e70 {
        padding: 5% 0% 0% 0%;
    }
    .elementor-593 .elementor-element.elementor-element-3e2a9df8 {
        margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
        text-align: start;
    }
    .elementor-593 .elementor-element.elementor-element-3473b94d {
        width: 50%;
    }
    .elementor-593 .elementor-element.elementor-element-8fc0b77 {
        width: 50%;
    }
    .elementor-593 .elementor-element.elementor-element-32085a39>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}